In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data = pd.read_csv(file_to_load)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## Player Count

* Display the total number of players

In [2]:
totalplayers = data.drop_duplicates(subset= "SN")

#unique players
totalpurchases = len(data["Purchase ID"].unique())
print(len(totalplayers))

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique = data["Item Name"].unique()
uniquenum = len(unique)
totrev = sum(data["Price"])
aveprice = (totrev / totalpurchases)

#summary table
purchasetable = pd.DataFrame()
purchasetable["Unique Items"] = [uniquenum]
purchasetable["Average Purchase Price"] = [aveprice]
purchasetable["Total Number of Purchases"] = [totalpurchases]
purchasetable["Total Revenue"] = [totrev]

#formatting
purchasetable["Average Purchase Price"] = purchasetable["Average Purchase Price"].map("${:.2f}".format)
purchasetable["Total Revenue"] = purchasetable["Total Revenue"].map("${:.2f}".format)

purchasetable

,Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:

genders = totalplayers["Gender"].value_counts()
genderperc = (genders / len(totalplayers))

#summary table & formatting
gendertable = pd.DataFrame({"Total Count": genders, "Percentage of Players": genderperc})
gendertable.style.format(({"Percentage of Players": "{:.2%}"}))


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
genpurchasecount = data.groupby("Gender").count()["Purchase ID"]
genaverageprice = data.groupby("Gender").mean()["Price"]
gentotalvalue = data.groupby("Gender").sum()["Price"]
genaverageperson = (gentotalvalue / genders)

#Summary table
genderpurchasedata = pd.DataFrame({"Purchase Count": genpurchasecount, "Average Purchase Price": genaverageprice, "Total Purchase Value": gentotalvalue, "Average Purchase Total Per Person": genaverageperson})
genderpurchasedata.style.format(({"Average Purchase Price": "${0:.2f}", "Total Purchase Value": "${0:.2f}", "Average Purchase Total Per Person": "${0:.2f}"}))

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
agebins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
agebinnames = ["<10", "10-14", "15-19","20-24","25-29","30-34","35-39","40+"]

#slize by age
totalplayers["Age Range"] = pd.cut(totalplayers["Age"], agebins, labels=agebinnames)


agerange = totalplayers["Age Range"].value_counts()
agepercent = (agerange / len(totalplayers))

#Summary table
agetable = pd.DataFrame({"Total Count": agerange, "Percentage of Players": agepercent}).sort_index()
agetable.index.name= "Age Ranges"
agetable.style.format(({"Percentage of Players": "{:.2%}"}))

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#slice by age
data["Age Range"] = pd.cut(data["Age"], agebins, labels=agebinnames)

agepurchasecount = data.groupby("Age Range").count()["Purchase ID"]
ageaverageprice = data.groupby("Age Range").mean()["Price"]
agetotalvalue = data.groupby("Age Range").sum()["Price"]
ageaverageperson = (agetotalvalue / agerange)

#summary table
agepurchasedata = pd.DataFrame({"Purchase Count": agepurchasecount, "Average Purchase Price": ageaverageprice, "Total Purchase Value": agetotalvalue, "Average Purchase Total Per Person": ageaverageperson}).sort_index()

#formatting
agepurchasedata.index.name= "Age Ranges"
agepurchasedata.style.format(({"Average Purchase Price": "${0:.2f}", "Total Purchase Value": "${0:.2f}", "Average Purchase Total Per Person": "${0:.2f}"}))

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
topsn = data.groupby("SN")
purchasecount = data.groupby("SN").count()["Price"]
topaverageprice = data.groupby("SN").mean()["Price"]
topspendprice = data.groupby("SN").sum()["Price"]

#Summary table
topspendertable = pd.DataFrame({"Purchase Count": purchasecount, "Average Purchase Price": topaverageprice, "Total Purchase Value": topspendprice}).sort_values(by=["Total Purchase Value"], ascending=False)

#Formatting
topspendertable.head(5).style.format(({"Average Purchase Price": "${0:.2f}", "Total Purchase Value": "${0:.2f}"}))

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting



* Display a preview of the summary data frame

In [11]:
#table column variables
itemcount = data.groupby("Item ID").count()["Purchase ID"]
itemname = data["Item Name"]
itemprice = data["Price"]
itemid = data["Item ID"]
totalitemvalue = data.groupby("Item ID").sum()["Price"]

#summary table
popitemtable = pd.DataFrame({"Item Name": itemname, "Purchase Count": itemcount, "Item Price": itemprice, "Total Purchase Value": totalitemvalue, "Item ID": itemid}).sort_values(by=["Purchase Count"], ascending=False)

#formatting
popitemtable.index.name= "Item ID"
popitemtable.head(5).style.format(({"Item Price": "${0:.2f}", "Purchase Count": "{0:.0f}", "Total Purchase Value": "${0:.2f}"}))

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
#table column variables
itemcount = data.groupby("Item ID").count()["Purchase ID"]
itemname = data["Item Name"]
itemprice = data["Price"]
totalitemvalue = data.groupby("Item ID").sum()["Price"]

#summary table
popitemtable = pd.DataFrame({"Item Name": itemname, "Purchase Count": itemcount, "Item Price": itemprice, "Total Purchase Value": totalitemvalue}).sort_values(by=["Total Purchase Value"], ascending=False)

#Formatting
popitemtable.index.name= "Item ID"
popitemtable.head(5).style.format(({"Item Price": "${0:.2f}", "Purchase Count": "{0:.0f}", "Total Purchase Value": "${0:.2f}"}))